:root {
    /* colours */
    --background-color-primary: #D5E1EF;
    --background-color-card: #FFFFFF;
    --text-color-title: #1F314F;
    --text-color-body: #68778D;

    /* typography */
    --font-size-title: 1.375rem;
    --font-size-body: 0.938rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --line-height-title: 1.2;
    --line-height-body: 1.4;
    --letter-spacing-title: 0;
    --letter-spacing-body: 0.013em;

    /* spacing */
    --spacing-xl: 2.5rem;
    --spacing-lg: 1.5rem;
    --spacing-sm: 1rem;
}

@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style:normal;
    font-weight: 400;
    src: url("./fonts/outfit-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style:normal;
    font-weight: 700;
    src: url("./fonts/outfit-bold.woff2") format("woff2");
}

/* Global Styles */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body { 
    background-color: var(--background-color-primary);
    font-family: "Outfit", sans-serif;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--spacing-sm);
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

 /*  Component Styles */

.card {
    background-color: var(--background-color-card);
    max-width: 20rem;
    border-radius: 20px;
    padding: var(--spacing-sm);
    box-shadow: 0 25px 25px 0 rgb(0 0 0 / 0.05);
}

.card-img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.card-title {
    margin-top: var(--spacing-lg);
    color: var(--text-color-title);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
}

.card-text {
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
    max-width: 16rem;
    margin-inline: auto;
    color: var(--text-color-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
}

.attribution {
    margin-top: var(--spacing-sm);
    font-size: 0.875rem; 
    color: var(--text-color-body);
}

footer a {
    color: var(--text-color-body);
}