/* Style Guide */
:root {
    /* colours - backgrounds */
    --color-bg-page: #D5E1EF;
    --color-bg-card: #FFFFFF;

    /* colours - text */
    --color-text-heading: #1F314F;
    --color-text-body: #68778D;

    /* font sizes */
    --font-size-heading:1.375rem;
    --font-size-body: 0.938rem;

    /* line heights */
    --line-height-heading: 1.2;
    --line-height-body: 1.4;

    /* letter spacing */
    --letter-spacing-heading: 0em;
    --letter-spacing-body: 0.013em;

    /* spacing */
    --spacing-xl: 40px;
    --spacing-lg: 24px;
    --spacing-md: 16px;
}

/* Fonts */
@font-face {
    font-family: "Outfit";
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/outfit-v11-latin-500.woff2") format("woff2");
}

@font-face {
    font-family: "Outfit";
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/outfit-v11-latin-900.woff2") format("woff2");
}

/* Base Styles */
html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100svh;
}

body {
    background-color: var(--color-bg-page);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  Component Styles */

.qr-code-container {
    background-color: var(--color-bg-card);
    border-radius: 20px;
    max-width: 20rem;
    padding: var(--spacing-md);
    text-align: center;
}

.qr-code-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.qr-code-title {
    margin-top: var(--spacing-lg);
    font-family: "Outfit", sans-serif;
    font-size: var(--font-size-heading);
    font-weight: 900;
    line-height: var(--line-height-heading);
    letter-spacing: var(--letter-spacing-heading);
    color: var(--color-text-heading);
}

.qr-code-text {
    margin-top: var(--spacing-md);
    padding-inline: var(--spacing-md);
    font-family: "Outfit", sans-serif;
    font-size: var(--font-size-body);
    font-weight: 500;
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
    color: var(--color-text-body);
}