:root {
    /* colours */
    --background-color-primary: #D5E1EF;
    --background-color-card: #FFFFFF;
    --text-color-title: #1F314F;
    --text-color-body: #68778D;

    /* typography */
    --font-size-title: 1.375rem;
    --font-size-body: 0.938rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --line-height-title: 1.2;
    --line-height-body: 1.4;
    --letter-spacing-title: 0;
    --letter-spacing-body: 0.013em;

    /* spacing */
    --spacing-xl: 2.5rem;
    --spacing-lg: 1.5rem;
    --spacing-sm: 1rem;
}

@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style:normal;
    font-weight: 400;
    src: url("./fonts/outfit-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Outfit";
    font-style:normal;
    font-weight: 700;
    src: url("./fonts/outfit-bold.woff2") format("woff2");
}






  

    